<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.sport.dao.SearchDao">

	<select id="selectAllList" resultType="AllListVO">
		SELECT * FROM tbl_all_list
	</select>
	
	<select id="findFree" resultType="AllListVO">
		SELECT * FROM tbl_all_list
		WHERE al_free = #{al_free}
		AND al_name like CONCAT('%',#{al_name},'%')
		AND al_addr like CONCAT('%',#{al_addr},'%')
		AND al_sport = #{al_sport}
		ORDER BY al_seq
	</select>

	<select id="selectView" resultType="DetailDTO">
		SELECT * FROM view_상세페이지
		ORDER BY v_seq
	</select>
	<select id="findSeq" resultType="DetailDTO">
		SELECT * FROM view_상세페이지
		WHERE v_seq = #{v_seq}
	</select>

	<insert id="insert"></insert>
	<update id="update"></update>
	<delete id="delete"></delete>

</mapper> 