<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.sport.dao.SearchDao">

	<select id="selectAllList" resultType="AllListVO">
		SELECT * FROM tbl_all_list
	</select>
	
	<select id="selectView" resultType="DetailDTO">
		SELECT * FROM view_상세페이지
	</select>
	
	<select id="findSeq" resultType="DetailDTO">
		SELECT * FROM view_상세페이지
		WHERE v_seq = #{v_seq}
		
	</select>

	<select id="selectMoney" resultType="SearchVO">
		SELECT * FROM TBL_SP_SEARCH
		WHERE SP_MONEY = #{sp_money} AND sp_distric = #{sp_distric}
	</select>
	
	<select id="findBySport" resultType="DetailDTO">
		SELECT * FROM view_상세페이지
		WHERE v_sport = #{v_sport} 
	</select>
	
	<select id="findBySearch" resultType="DetailDTO">
		SELECT * FROM view_상세페이지
    	WHERE v_name like CONCAT('%',#{keyword},'%')
	</select>
	
	<select id="findByDistric" resultType="DetailDTO">
		SELECT * FROM view_상세페이지
    	WHERE v_distric like CONCAT('%',#{keyword},'%')
	</select>
	
	

	<insert id="insert"></insert>
	<update id="update"></update>
	<delete id="delete"></delete>

</mapper> 