<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.team.sport.dao.UserDao">

	<select id="login" resultType="UserVO">
		SELECT * FROM tbl_user
		WHERE user_id = #{user_id} AND user_pw = #{user_pw}
	</select>

	<select id="findById" resultType="UserVO">
		SELECT * FROM tbl_user
		WHERE user_id = #{user_id}
	</select>
	
 	<insert id="insert" parameterType="UserVO">
 		INSERT INTO tbl_user(user_id, user_pw, user_tel, user_name, user_email)
 		VALUES(#{user_id}, #{user_pw},#{user_tel}, #{user_name}, #{user_email})
 	</insert>
 	
 	<update id="update" parameterType="UserVO">
 		UPDATE tbl_user(user_id, user_pw, user_tel, user_name, user_email) 
 		SET user_id = #{user_id}, user_pw	= #{user_pw}, user_tel = #{user_tel}, user_name = #{user_name}, user_email = #{user_email}
 		WHERE user_id = #{user_id} 
 	</update>
 	
 	<update id="update_pw" parameterType="UserVO">
 		UPDATE tbl_user SET user_pw = #{user_pw}
 		WHERE user_id = #{user_id}
 	</update>
 	
 	<delete id="delete">
 		DELETE FROM tbl_user
 		WHERE user_id = #{user_id}
 	</delete>
 	
 </mapper>