@charset "UTF-8";

form#join_form {
	width: 80%;
	height: 50%;
	text-align: center;
	margin: 50px auto;
}

form#join_form h2 {
	text-align: center;
	margin: 30px auto;
	padding-top: 20px;
	color: #6a60a9;
}

form#join_form label {
	display: inline-block;
	margin: 20px auto;
	/* padding : 0px 10px 0px 10px; */
	width: 8%;
}

form#join_form input {
	outline: 0;
	/* display: block; */
	width: 200px;
	margin: 15px auto;
	padding: 14px 10px;
	border: none;
	border-bottom: 2px solid black;
	background: none;
	/* text-align: center; */
}

form#join_form input:focus {
	outline: none;
}

form#join_form button {
	outline: none;
	background: none;
	cursor: pointer;
	background-color: #dedcee;
	font-weight: bold;
	border: none;
	padding: 5px 10px;
}

form#join_form button#over {
	display: inline-block;
	/* transform: translateY(-50); */
}

form#join_form button#join {
	display: block;
	margin: 20px auto;
}

input#id {
	width: 8% !important;
}