@charset "UTF-8";

form#join_form {
	width: 600px;
	height: 600px;
	margin: 50px auto;
	position: relative;
	background-color: rgba(0, 0, 0, 0.3);
}

form#join_form h2 {
	text-align: center;
	margin: 30px auto;
	padding-top: 20px;
	color: #6a60a9;
}

form#join_form label {
	display: flex;
	flex: auto;
	margin-left: 50px;
	width: 30px;
	/* padding : 0px 10px 0px 10px; */
}

form#join_form input {
	outline: 0;
	/* display: block; */
	width: 200px;
	margin: 15px auto;
	padding: 14px 10px;
	border: none;
	border-bottom: 2px solid black;
	background: none;
	text-align: center;
	display: inline-block;
}

form#join_form input:focus {
	outline: none;
}

form#join_form button {
	outline: none;
	background: none;
	cursor: pointer;
	background-color: #dedcee;
	font-weight: bold;
	border: none;
	padding: 5px 10px;
}

form#join_form button#over {
	display: inline-block;
	position: absolute;
	transform: translateX(50px);
}

form#join_form button#join {
	display: block;
	margin: 20px auto;
}